<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalyearproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Madad - Apno Ki"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalYearProject">
        <activity android:name=".RegisterNeedy"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".NeedyWall"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NeedyUploadProof"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Needylogin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NeedyHeader"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseUser"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".Chieflogin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ForgotPass"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".RegisterChiefdonor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ChiefNeedCategory"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ChiefHeader"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".DonorCircle"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ChiefWall"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SubHeader"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SubNeedCategory"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".RegisterSubdonor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SubWall"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Sublogin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>